In [1]:
import pandas as pd
import datetime as dt

In [2]:
# Bring in events csvs
mlb_events = pd.read_csv("Resources/events/mlb_events.csv")
nfl_pre_events = pd.read_csv("Resources/events/nfl_pre_events.csv")
nfl_events = pd.read_csv("Resources/events/nfl_events.csv")
mls_events = pd.read_csv("Resources/events/mls_events.csv")
nhl_events = pd.read_csv("Resources/events/nhl_events.csv")

In [3]:
events_df = pd.concat([mlb_events, nfl_pre_events, nfl_events, mls_events, nhl_events], ignore_index=True)
events_df = events_df.drop(columns=['Unnamed: 0'])
events_df.head()

   event_date event_time_cst  home_id  away_id  venue_id
0  03/30/2023       12:05 PM      111      122        98
1  03/30/2023       12:05 PM      124      113       111
2  03/30/2023       01:10 PM      104      114        91
3  03/30/2023       01:20 PM      123       95       110
4  03/30/2023       02:10 PM      121      101       108

In [4]:
for i in range(len(events_df)):
    time = events_df.iloc[i,1]
    time_24 = dt.datetime.strptime(time, "")

ValueError: unconverted data remains: 12:05 PM

In [5]:
for i in range(len(events_df)):
    date_string = f"{events_df.iloc[i,0]} {events_df.iloc[i,1]}"
    timestamp = dt.datetime.strptime(date_string,'%m/%d/%Y %I:%M %p')
    events_df.loc[i, "event_timestamp_cst"] = timestamp
    
events_df = events_df[['home_id', 'away_id', 'venue_id', 'event_timestamp_cst']]
    
events_df.head()

   home_id  away_id  venue_id event_timestamp_cst
0      111      122        98 2023-03-30 12:05:00
1      124      113       111 2023-03-30 12:05:00
2      104      114        91 2023-03-30 13:10:00
3      123       95       110 2023-03-30 13:20:00
4      121      101       108 2023-03-30 14:10:00

In [ ]:
mask = events_df['home_id'] == 113 
events_df[mask].sort_values("event_timestamp_cst")

In [6]:
events_df.to_csv("Resources/events/events.csv")